<?xml version="1.0"?>
<configuration>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/></startup><system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="DigiDocService">
                    <security mode="Transport" />
                </binding>
                <binding name="DigiDocService1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://tsp.demo.sk.ee/" binding="basicHttpBinding"
                bindingConfiguration="DigiDocService" contract="sk.DigiDocServicePortType"
                name="DigiDocService" />
        </client>
    </system.serviceModel>
</configuration>
