<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Google.Maps" version="1.0.0.0" targetFramework="net4" userInstalled="true" />
  <package id="LEST97" version="1.0.0.0" targetFramework="net4" userInstalled="true" />
  <package id="ScriptCoreLib.Async" version="1.0.0.0" targetFramework="net4" userInstalled="true" />
</packages>